<div class="container">

    <mat-spinner class="spinner" *ngIf="loading"></mat-spinner>

    <div class="row center-xs mt-xs nb-xs" *ngIf="character">
        <mat-card class="card">
            <mat-card-header>
              <mat-card-title>{{character.name}}</mat-card-title>
              <mat-card-subtitle>NickName: {{character.nickname}}</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image  class="character-image" [src]="character.img" alt="Photo of a Shiba Inu">
            <mat-card-content>
              <mat-list>
                <mat-list-item>
                    <p class="text-left">Estado: {{character.status | status}}</p>
                </mat-list-item>
                <mat-divider></mat-divider>
                <mat-list-item>
                  <p class="text-left">Serie: {{character.category}}</p>
              </mat-list-item>
              <mat-divider></mat-divider>
              <mat-list-item>
                <p class="text-left">Temporadadas en las que aperece: {{character.appearance | seassons}}</p>
              </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>
              <p class="text-left">Ocupacion(es): {{character.occupation | ocupations}}</p>
            </mat-list-item>
          <mat-divider></mat-divider>
            </mat-list>
            </mat-card-content>
            <mat-card-actions>
              <button mat-button (click)="onBack()">Volver</button>
            </mat-card-actions>
          </mat-card>
    </div>
    
</div>
